.barratareas{

  -fx-base:#004d4d;
  -fx-background-color:#004d4d;

}

.progress-bar  .bar{


  -fx-background-color: #98e698;


}
.progress-bar  .track{


  -fx-background-color: rgba(255,255,255,0);
-fx-background-radius: 10, 10, 10, 10;

}
.root { -fx-background-color: transparent; }

.context-menu{
  -fx-background-color: #006666;
}

.splash{
  -fx-background-color: transparent;
}


.tree-cell .tree-disclosure-node .arrow {

    -fx-background-color: white;

}


.tree-cell:selected {
    -fx-font-weight: bold ;
}

.tree-view{
  -fx-text-fill: white;
}

.tree-cell{
  -fx-background-color: #4f6d7a;
  -fx-color: white;
}
.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}

.tree-cell, .content{

  -fx-text-fill: #dbe9ee;
}

.separador{

-fx-background-color: black;
-fx-border-color: black;

}

.toolbar{

  -fx-background-color:#004d4d;
}

.toolbar-canvas{

-fx-background-color:#3d5c5c;


}



.text-area{
  -fx-text-fill: white;
}

.text-area .content{
  -fx-background-color: #293d3d;
  -fx-text-fill: red;
}

}


.btn-play{ /*icono para el boton de play*/
-fx-background-color: rgba(255, 0, 0, 0);
-fx-background-image: url("../imagenes/play.png");
-fx-background-size: 50% 50%;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
}


.btn-play:hover{
  -fx-background-color:#006666;
  -fx-border-color: #009999;
}
/*icono para el boton de addEntidad*/
.btn-entidad{
-fx-background-color: rgba(255, 0, 0, 0);
-fx-background-image: url("../imagenes/plus.png");
-fx-background-size: 50% 50%;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
}


.btn-entidad:hover{
  -fx-background-color:#006666;
  -fx-border-color: #009999;
}

/*estilos para el code area*/

/*Palabras Clave*/
.keyword {
    -fx-fill: #90ee90;
    -fx-font-weight: bold;
}
/*palabras normales y puntos*/
.normal {
    -fx-fill: white;
}
/* no se */
.build_in_function{
    -fx-fill: green;
    -fx-font-weight: bold;
}
/*Palabras que forman parte de la funcion*/
.function{
  -fx-fill: #6699ff;
}
.semicolon {
    -fx-fill: red;
    -fx-font-weight: bold;
}
.boolean{
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.paren{
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: yellow;
}

.comment {
	-fx-fill: cadetblue;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc33;
}

.styled-text-area {
  -fx-background-color: #001a1a;
}
.caret { /*para  la linea de escribir*/
    -fx-stroke: white;
}
.selection{
  -fx-fill: red;
}
.styled-text-area .lineno{ /*estilos para los numeritos del richText*/
  -fx-background-color: #001a1a;
  -fx-text-fill: #006666;
}
